body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}
 .search:focus-within {
    box-shadow:0 0 5px rgb(2, 2, 162);
 }

.search-input{
    font-size: 16px;
    font-family: 'lexend', sans-serif;
    color: #333333;
    margin: 0 14px;
    outline: none;
    border: none;
    background: transparent;
}
header .Open a{
    background: orangered;
    border-radius: 16px;
    text-decoration: none;
    color: #f6f6f6;
    border-radius: 15px;
    padding: 7px 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}
section .open-app a{
    background: orangered;
    border-radius: 16px;
    text-decoration: none;
    color: #f6f6f6;
    border-radius: 15px;
    padding: 7px 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
form .login{
    background: #f6f6f6;
    display:flex;
    align-items: center;
    padding:10px 17px;
    margin-right: 350px;
    border-radius: 28px;
}
form .login a{
    text-align: center;
    text-decoration: none;
    color: #333333;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.continue-open a{
    text-decoration: none;
    text-align: center;
    padding: 5px 70px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.arrow2{
    display: flex;
}
.arrow2 a, .arrow2 span{
    text-decoration: none;
    color: orangered;
}
.find-restaurant a{
    text-decoration: none;
    text-align: center;
    padding: 8px 30px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.get-dashpass a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.shop-groceries a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.shop-nowbutton a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.try-package a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.send-flower a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.shop-alcohol a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.get-pet a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.become-dasher a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.become-partner a{
    text-decoration: none;
    text-align: center;
    padding: 8px 25px;
    color: #f6f6f6;
    background: orangered;
    border-radius: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:start;
    height: 500px;
}
.tab-body{
    width: 453px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.tab_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;

}
.tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600px;
    color: #333333;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.tab_box .tab_btn.active{
    color: black;
}
.content_box{
    padding: 20px;
}
.content_box .content{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
     from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.content_box .content.active{
    display: block;
}

.content_box .content h2{
    margin-bottom: 10px;
}
.line{
    position: absolute;
    top: 55px;
    left: 0px;
    width: 33%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}
.see-more{
    display: flex;
    justify-content: center;
}
.see-more p{
    font-size: larger;
    font-weight: 700;
}
.see-more button{
    position: relative;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.see-more span{
    padding-top:4px ;
}